@import "../foundation/var";

/* footer
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.footer {
  height: 7.9rem;
  text-align: center;
  line-height: 7.9rem;

  .copy {
    font-size: 1.4rem;
  }
}

/* footer end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */