@import "../foundation/var";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #{$colorNavyBlue};
  letter-spacing: .05em;
}
a {
  text-decoration: none;
  color: #{$colorWhite};
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  max-width: 120rem;
  width: calc(100% - 5%);
  margin: 0 auto;
}
.section__inner {
  max-width: 100rem;
  margin: 0 auto;
  padding: 100px 50px 0;

  @include mq(sp){
    width: calc(100% - 8%);
    margin: 0 auto;
    padding: 0;
  }
}
.change-color {
  background: #{$colorNavyBlue};
}
/* -------------------------------------------
base
---------------------------------------------- */

/* -------------------------------------------
header
---------------------------------------------- */

/* -------------------------------------------
モジュール
---------------------------------------------- */
.title {
  display: flex;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
// sample
  @include mq(sp){
    font-size: 3rem;
  }

  &::after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    margin-left: 3rem;
    background-color: #{$colorNavyBlue};

    @include mq(sp){
      width: 100px;
    }
  }
}

.bg__txt {
  font-size: 9rem;
  font-weight: bold;
  color: #171717;
  opacity: 0.05;

  @include mq(sp){
    font-size: 4rem;
  }
}
/* -------------------------------------------
モジュール
---------------------------------------------- */


/* -------------------------------------------
header
---------------------------------------------- */

.header {
  position: fixed;
  width: 100%;
  transition: all .3s;
  z-index: 10;
  font-style: italic;

  &__site-title {
    font-size: 2.6rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    &-item + &-item {
      margin-left: 3rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.6rem;

    @include mq(sp){
      display: none;
    }
  }
}