@import "../../foundation/var";

/* MV
===========================*/
.MV {
  position: relative;
  background: url(#{$bgpath}fv-bgi_01@2x.jpg) no-repeat center;
  background-size: cover;
  color: #{$colorWhite};
  height: 100vh;

  & .inner {
    @include mq(sp){
      padding-bottom: 0;
    }
  }

  &__txt {
    display: inline-block;
    text-align: center;

    @include mq(sp){
      display: block;
    }
  }

  &__title {
    padding-top: 41rem;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 0.05em;

    @include mq(sp){
      margin-bottom: 5.5rem;
      padding-top: 20rem;
      font-size: 3.7rem;
    }
  }

  &__sub-title {
    margin-top: 2.2rem;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Noto Serif JP', serif;

    @include mq(sp){
      width: 27rem;
      margin: 0 auto;
      font-size: 3rem;
      letter-spacing: 0.1em;
    }
  }
}

/* MV end
===========================*/

/* concept
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.concept {
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
  @include mq(sp){
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
  .sp-only {
    display: none;
    @include mq(sp){
      display: block;
    }
  }
  &__title {
    margin-bottom: 7.5rem;

    @include mq(sp){
      padding-left: 0;
      margin-bottom: 5rem;
    }
  }

  &__sub-title {
    font-size: 3rem;
    max-width: 62rem;
    margin: 0 auto 6.3rem;

    @include mq(sp){
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__box-ly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
    @include mq(sp){
      flex-direction: column;
      padding: 0;
      margin-bottom: 0;
    }
  }

  &__txt {
    max-width: 44rem;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.875;

    @include mq(sp){
      width: initial;
      margin-bottom: 2.5rem;
    }
  }

  .concept__img {
    max-width: 44rem;
    margin: 0;
    margin-left: 20px;
    @include mq(sp){
      width: 100%;
      margin: 0 auto 4rem;
      & img {
        height: 150px;
        object-fit: cover;
      }
    }
  }

  .bg__txt {
    max-width: 120rem;
    margin: 0 auto;
    text-align: right;
    letter-spacing: .05em;
  }
}



/* concept end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* works
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.works {
  background: url(#{$bgpath}works-bgi@2x.jpg) no-repeat center;
  background-size: cover;
  padding-top: 10.4rem;
  padding-bottom: 5.5rem;
  @include mq(sp){
    padding-top: 10rem;
    padding-bottom: 4.5rem;
  }
  .inner {
    @include mq(sp){
      width: calc(100% - 8%);
    }
  }
  .title {
    color: #{$colorWhite};
    justify-content: flex-end;
    margin-bottom: 8rem;
    @include mq(sp){
      margin-bottom: 5rem;
    }
    &::after {
      background-color: #{$colorWhite};
      margin-left: 5.5rem;
      @include mq(sp){
        margin-left: 3.2rem;
      }
    }
  }

  .bg__txt {
    color: #{$colorWhite};
    opacity: 0.1;
    letter-spacing: .05em;
  }
}



/* card */
.card__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;

  @include mq(sp){
    margin-bottom: 7.5rem;
    flex-direction: column;
    align-items: center;
  }
}
.card {
  width: 32%;
  background-color: #{$colorWhite};

  @include mq(sp){
    width: 93%;
    max-width: 34rem;

    & + & {
      margin-top: 3rem;
    }

  }

  &__img-wrapper {
    position: relative;
    margin: 0;
    padding-top: 62.25%;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  &__txt {
    padding: 2.3rem;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.875;
  }
  & + & {
    margin-left: 2%;
    @include mq(sp){
      margin-left: 0;
    }
  }
}
/* card end*/

/* works end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* service
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.service {
    padding-top: 10rem;
    padding-bottom: 5.6rem;
    @include mq(sp){
      padding-bottom: 5.8rem;
    }
  &__title {
    max-width: 1000px;
    width: calc(100% - 8%);
    margin: 0 auto 8rem;
    letter-spacing: .1em;
    &::after {
      margin-left: 2.3rem;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;

    @include mq(sp){
      flex-direction: column;
      margin-bottom: 4rem;
    }
  }

  &__box {
    position: relative;
    width: 100%;

    @include mq(sp){
      & + & {
        margin-top: 3rem;
      }
    }
  }

  &__txt {
    position: absolute;
    display: flex;
    top: 0%;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-style: italic;
    color: #{$colorWhite};
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include mq(sp){
      font-size: 2rem;
    }

    &:hover {
      background: #{$colorNavyBlue};
      opacity: 0.7;
      transition: .3s;
    }
  }

  .bg__txt {
    max-width: 1200px;
    width: calc(100% - 4%);
    margin: 0 auto;
    text-align: right;
    letter-spacing: .05em;
  }
}

/* service end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* contact
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.contact {
  background: url(#{$bgpath}contact-bgi@2x.jpg) no-repeat center;
  background-size: cover;
  padding-top: 11rem;
  padding-bottom: 6.6rem;
  @include mq(sp){
    padding-top: 10rem;
    padding-bottom: 4.6rem;
  }

  .title {
    color: #{$colorWhite};
    justify-content: flex-end;
    margin-bottom: 7.9rem;
    letter-spacing: .09em;
    &::after {
      background-color: #{$colorWhite};
    }
  }

  &__txt {
    margin-bottom: 4.5rem;
    font-size: 2rem;
    color: #{$colorWhite};
    text-align: center;
    @include mq(sp){
      margin-bottom: 3.5rem;
    }
  }

  .bg__txt {
    color: #{$colorWhite};
    letter-spacing: .05em;
  }
}

/* contact end
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */